.container_principal {
    width: 100vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
}


.shoe {
    width: 300px;
    height: auto;
    position: absolute;
    top: 20%;
    z-index: 2; 
}